<!-- Header -->
<header class="bg-primary py-5 mb-5">
  <div class="container h-100">
    <div class="row h-100 align-items-center">
      <div class="col-lg-12">
        <h1 class="display-4 text-white mt-5 mb-2">
          <div><span>(주)테켐아그로</span>&nbsp;|&nbsp;<span style='color=grey, font-size=-1'>Techem Agro Co., Ltd</span>
        </h1>
        <p class="lead mb-5 text-white-50">
           (주)테켐아그로는 1988년에 창업된 기업으로, 꾸준한 성장과 혁신을 거듭해 오며 국내 농업 분야에서의 필수 기업으로 자리매김하고 있습니다. 
        </p>
      </div>
    </div>
  </div>
</header>
